@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.conteudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 28px;
}

.conteudo-lateral {
    display: flex;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    gap: 119px;
}

.conteudo-lateral-titulo {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #3A404E;
}

.marca {
    display: flex;
    gap: 8px;
}

.menu {
    display: flex;
    gap: 32px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.menu a {
    color: #667085;
}

.conteudo-lateral-dir {
    display: flex;
    gap: 48px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
}

.entrar {
    border: none;
    background-color: transparent;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #667085;
    cursor: pointer;
}

.cadastrar {
    border: none;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #8E2424;
    padding: 10px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}